/* Write your CSS code here */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  height: 40px;
  width: 160px;
  font-size: 14px;
}
